  <div class="container">

    <%= render partial: "seehow/common/locations_list" %>

    <%= render partial: "seehow/common/companions_list" %>
  
    <%= render partial: "seehow/common/tags_list" %>

    <%= render partial: "lives/common/life_list" %>
  </div> 